<div id="header-global">

  <div class="header-left">
    <a class="link-logo" href="/">
      {% assign shop_title = 'general.shop.title' | t %}
      {% include 'inline-icon' with svg: 'logo-type.svg', alt: shop_title, class: 'logo-name' %}
    </a>
  </div>

  <div class="header-right">
    <a class="menu-link text-link js-menu-link">
      <span class="menu-text">{{ 'general.menu.open' | t }}</span>
      <span class="menu-close-text">{{ 'general.menu.close' | t }}</span>
    </a>

    {% if shop.customer_accounts_enabled %}
    <!-- {% for link in navList.links %} -->
      {% if customer %}
        <a class="text-link" href="/account">{{ 'customer.account.title' | t }}</a>
        {{ 'customer.log_out' | t | customer_logout_link }}
      {% else %}
        {{ 'customer.log_in' | t | customer_login_link }}
        {% if shop.customer_accounts_optional %}
          {{ 'customer.register' | t | customer_register_link }}
        {% endif %}
      {% endif %}
    <!-- {% endfor %} -->
    {% endif %}

    {%- if shop.customer_accounts_enabled -%}
      <ul>
        {%- if customer -%}
          <li>
            <a class="text-link" href="/account">Account</a>
          </li>
          <li>
            {{ 'Log out' | t | customer_logout_link }}
          </li>
        {%- else -%}
          <li>
            {{ 'Log in' | t | customer_login_link }}
          </li>
          <li>
            {{ 'Create account' | t | customer_register_link }}
          </li>
        {%- endif -%}
      </ul>
    {%- endif -%}

    <a class="text-link" href="/search">
      search
      {% include 'inline-icon' with svg: 'icon-search.svg', class: 'current-color-stroke icon-link' %}
    </a>

    {% include 'currency-picker' %}

    <a class="text-link cart-link js-cart-link" href="/cart">
      {{ 'cart.button.count_html' | t: itemCount: cart.item_count }}
    </a>
  </div>

</div>

<div id="header-mobile">
  <div class="bottom-bar">
    <a class="menu-link text-link js-menu-link">
      <span class="menu-text">{{ 'general.menu.open' | t }}</span>
      <span class="menu-close-text">{{ 'general.menu.close' | t }}</span>
    </a>
  </div>

  <a class="text-link cart-link js-cart-link" href="/cart">
    {{ 'cart.button.count_html' | t: itemCount: cart.item_count }}
  </a>
</div>
