{% schema %}
  {
    "name": "Featured Product",
    "class": "section-featured-product",
    "blocks": [
      {
        "name": "Product",
        "type": "product",
        "settings": [
          {
            "type": "image_picker",
            "id": "featured_image",
            "label": "Featured Image"
          },
          {
            "type": "text",
            "id": "featured_title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "marquee_contents",
            "label": "Loop Text"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Product Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured Product",
        "category": "Product"
      }
    ]
  }
{% endschema %}

{% comment %} {% assign product = products[block.settings.product] %} {% endcomment %}


<div id="featured-product_wrap">
  <div class="featured">
    {% for block in section.blocks %}
        <div class="featured-content" {{ block.shopify_attributes }}>
          <div class="marquee-wrap">
            <div class="marquee-inner">
              <div class="marquee-content h3">{{ block.settings.marquee_contents }} &mdash; {{ block.settings.marquee_contents }} &mdash; {{ block.settings.marquee_contents }}</div>
              <div class="marquee-content h3 second-line">{{ block.settings.marquee_contents }} &mdash; {{ block.settings.marquee_contents }} &mdash; {{ block.settings.marquee_contents }}</div>
            </div>
          </div>

          <div class="product-wrap wrapper">

            <div class="product-contents">
              <h1 class="featured_product-title">{{ block.settings.featured_title }}</h1>

              <a class="product-image">
                 <img src="{{ block.settings.featured_image.src | img_url: 'master' }}" alt="{{ block.settings.featured_image.alt | escape }}">
              </a>

              <a href="{{ block.settings.button_url }}" class="button"> {{ block.settings.button_text }} </a>
            </div>
          </div>

          <div class="marquee-wrap">
            <div class="marquee-inner">
              <h3>{{ block.settings.marquee_contents }} &mdash; {{ block.settings.marquee_contents }} &mdash; {{ block.settings.marquee_contents }} &mdash; {{ block.settings.marquee_contents }} &mdash; {{ block.settings.marquee_contents }}</h3>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>
