{% schema %}
  {
    "name": "Collection Showcase",
    "class": "multi-collection-section",
    "settings": [
      {
        "type": "range",
        "id": "collections_to_show",
        "min": 2,
        "max": 12,
        "step": 2,
        "default": 3,
        "label": "Collections To Show"
      }
    ],
    "blocks": [
      {
        "type": "card",
        "name": "Collection Card",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "placeholder": "Collection Title"
          },
          {
            "id": "card_link",
            "type": "url",
            "label": "Link URL"
          },
          {
            "id": "link_text",
            "type": "text",
            "label": "Link Text",
            "placeholder": "View Collection",
            "info": "Defaults to \"View Collection\""
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Showcase",
        "name": "Multi-Collection",
        "blocks": [
          {
            "type": "card",
            "settings": {
              "title": "Collection 1",
              "card_link": "#",
              "link_text": "View Collection"
            }
          },
          {
            "type": "card",
            "settings": {
              "title": "Collection 2",
              "card_link": "#"
            }
          }
        ]
      }
    ]
  }
{% endschema %}

<div class="multi-collection-wrap">
  {% for block in section.blocks %}
    <div class="multi-block-{{ block.type }}" {{ block.shopify_attributes }}>
      {% case block.type %}
        {% when 'card' %}

          <div class="collection-card-wrap wrapper">
            {% assign collection = collections[block.settings.collection] %}
            <h1>{{ collection.title }}</h1>
            <!-- <ul>
              {% for collection in collections %}
                {% assign collection = collections[block.settings.collection] %}
                {% assign card_link = collection | prepend: 'card_' | append: '_link' | downcase %}
                {% if settings.[card_link] != blank %}
                  <li>
                    <a class="card-link" href="{{ settings[card_link] | escape }}" alt="{{ settings[card_link] | escape }}" aria-describedby="a11y-external-message">
                      {{ collection.title }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul> -->
          </div>
      {% endcase %}
    </div>
  {% endfor %}
</div>
